.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4%;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inputField {
    border: 2px solid rgb(37, 150, 190);
    width: 350px;
    height: 45px;
    padding-left: 3%;
    margin-bottom: 10%;
}

.button {
    width: 370px;
    height: 50px;
    border: none;
    color: white;
    font-weight: bolder;
    background-image: linear-gradient(to left, rgba(196, 73, 105,0.5), rgba(212, 91, 122,1));
    border-radius: 25px;
}

.ulist {
    list-style: none;
}

.displayFriends {
    padding-left: 5%;
    color: lightslategray;
    width: 25%;
    height: 25%;
    font-size: 15px;
}
